* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.navbar {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navelements {
    display: flex;
    flex: 1;
    padding-top: 2%;
    padding-left: 5vw;
}

.donate {
    flex: 1;
}

.title {
    flex: 1;
}

.elements {
    flex: 1;
}

.elements a {
    text-decoration: none;
    font-size: 17px;
}

.donatebutton {
    height: 5vh;
    width: 70vw;
    justify-content: center;
    margin-left: 15vw;
    margin-top: 3vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: 0
}

.the-issue-page {
    background: url('../assets/assets/home/annie-spratt-135307-unsplash.png') no-repeat;
    background-size: cover;
    height: 80vh;
    background-position-x: 80%;
}

.the-issue-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.the-issue-image {
    flex: 1;
    position: relative;
    left: 5%;
    top: 3%;
    margin-right: 50vw;
}

#para1 {
    font: normal normal bold 1.5rem Helvetica;
    align-content: center;
    color: #354463;
}

#para2 {
    background: transparent url('../img/Read more about this environmental and social cause.png') 0% 0% no-repeat padding-box;
    padding-top: 10%;
    font-size: 17px;
    color: #354463;
}

.issue {
    height: 10vh;
    width: 100% auto;
    margin: 5vw;
    background-color: white;
    flex: 1;
    text-align: center;
    padding: 5vh;
}

.the-issue {
    height: 4vh;
    width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 1.1rem Helvetica;
    color: #FFFFFF;
    background: #354463 0% 0% no-repeat padding-box;
    position: relative;
    left: 31%;
    bottom: 20%;
}

.action-div {
    text-align: center;
    font: normal normal normal 1rem Helvetica;
    color: #FFFFFF;
    background: #354463 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 27vw;
    position: relative;
    left: 34%;
    top: 2%;

}

.take-action {
    width: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2rem;
    padding: 10%;
    font-size: 18px;
}

#hspace {
    margin-bottom: 5%;
}

.what-we-do {
    width: 100%;
    background: #354463 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.we-do {
    flex: 1;
    padding-top: 10%;
}

.readme {
    flex: 5;
}

.plant-head1 {
    font-size: 20px;
}

.do {
    height: 4vh;
    width: 30vw;
    font: normal normal normal 1.1rem Helvetica;
    color: #354463;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.do-text {
    padding: 10%;
    margin-top: 3%;
    text-align: center;
    font: normal normal bold 1.5rem Helvetica;
    color: #FFFFFF;
}

.readme {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.planting {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5%;
}

.planting1 {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5%;
    margin-top: 25%;
}

.planting2 {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5%;
    margin-top: 25%;
}

.plant-img {
    width: 75%;
    height: 20vh;
    overflow: hidden;
    position: relative;
    bottom: 25%;
    left: 10%;
}

.plant-img img {
    width: 100%;
    height: 100%;
}

.plant-text {
    justify-items: center;
}

.plant-para {
    text-align: center;
    font: normal normal 300 1.1rem Helvetica;
    color: #354463;
    margin-top: 5%;
    font-size: 17px;
}

.plant-head {
    font-size: 20px;
}

.plant-read {
    height: 4vh;
    width: 30vw;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    font: normal normal bold 1.1rem Helvetica;
    color: #354463;
    position: relative;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hunger {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background: url('../assets/assets/home/did-you-know-background@2x.png') no-repeat;
    background-size: cover;
}

.take {
    flex: 1;
}

.know {
    flex: 4;
    padding-top: 10%;
    position: relative;
    padding-bottom: 10%;
}

.climate-image img {
    width: 70vw;
    margin: 10%;
}

.action-today {
    text-align: left;
    font: normal normal bold 1.1rem Helvetica;
    color: #354463;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    height: 3vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%
}

.icon-div1 {
    display: flex;
    flex: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 10%;
    margin-right: 10%;
    padding: 7%;
}

.icon-div2 {
    display: flex;
    flex: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 10%;
    margin-right: 10%;
    padding: 7%;
    margin-top: 5%;
}

.icon-content {
    flex: 3;
}

.icon {
    flex: 1;
}

.icon {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: end;
}

.icon-head {
    text-align: left;
    font: normal normal bold 1.5rem Helvetica;
    color: #354463;
}

.icon-para {
    background: transparent url('../img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    padding-top: 7%;
    font-size: 17px;
}

.icon1 {
    flex: 1;
}

.icon2 {
    flex: 1;
}

.icon1 img {
    width: 16px;
    height: 13px;
}

.icon2 img {
    width: 13px;
    height: 13px;
}

.did-you-know {
    font: normal normal normal Helvetica;
    background: #354463 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    height: 4vh;
    width: 32vw;
    position: absolute;
    left: 33%;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 10%;
    position: relative;
}

.stories-view {
    flex: 1;
}

.stories-content {
    flex: 2;
    margin-top: 5%;
}

.blue-text {
    background: #354463 0% 0% no-repeat padding-box;
    padding: 10%;
}

.stories-image img {
    width: 100%;
}

.stories-div {
    background: #354463 0% 0% no-repeat padding-box;
    font: normal normal normal 1.1rem Helvetica;
    color: #FFFFFF;
    height: 4vh;
    width: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7vw;
    left: 35vw;
}

.read-content {
    text-align: center;
    font: normal normal bold 1.4rem Helvetica;
    color: #FFFFFF;
}

.read-text {
    text-align: center;
    font: normal normal normal 1.1rem Helvetica;
    color: #FFFFFF;
    margin-top: 10%;
    font-size: 13px;
}

.story-read-more {
    text-align: center;
    font: normal normal bold 1.1rem Helvetica;
    color: #354463;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    width: 35vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    margin-left: 20vw;
}

.event {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10%;
    background: #354463 0% 0% no-repeat padding-box;
}

.event-text {
    flex: 1;
    margin-bottom: 10%;
}

.event-content1 {
    flex: 2;
    margin-top: 10%;
    position: relative;
}

.event-content2 {
    flex: 2;
    margin-top: 10%;
    position: relative;
}

.event-para {
    text-align: center;
    font: normal normal normal 2.5rem Flood Std;
    color: #FFFFFF;
}

.event-image img {
    height: 100%;
    width: 100%;
}

.event-div {
    height: 4%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 37%;
    top: -2%;
    font: normal normal normal 1.1rem Helvetica;
    color: #354463;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.event-div1 {
    height: 4%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    top: -2%;
    text-align: center;
    font: normal normal normal 1.1rem Helvetica;
    color: #354463;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.event-div-text {
    text-align: center;
    margin-top: 15px;
    font: normal normal bold 1.8rem Helvetica;
    color: #FFFFFF;
}

.event-div-para {
    text-align: center;
    font: normal normal 300 2rem Helvetica;
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
}

.event-div-text1 {
    text-align: center;
    margin-top: 15px;
    font: normal normal bold 1.8rem Helvetica;
    color: #FFFFFF;
}

.event-div-para1 {
    text-align: center;
    font: normal normal 300 2rem Helvetica;
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 10px;
}

.event-read {
    font: normal normal bold 1.2rem Helvetica;
    color: #354463;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    width: 35%;
    height: 20%;
    margin-left: 35%;
    margin-top: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-read1 {
    font: normal normal bold 1.2rem Helvetica;
    color: #354463;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    width: 35%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    margin-top: 8vw;
}

.subscribe {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    padding: 10%;
}

.subscribe-text {
    flex: 1;
}

.subscribe-contents {
    flex: 1;
}

.sub-text {
    text-align: left;
    font: normal normal bold 1.7rem Helvetica;
    color: #354463;
}

.subscribe-contents {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 8%;
}

.placeholder {
    flex: 2;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    height: 10vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub {
    flex: 1;
    text-align: left;
    font: normal normal bold 1.2rem Helvetica;
    color: #C1F7D5;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.footer {
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title {
    text-align: left;
    font: normal normal bold 1.2rem Helvetica;
    color: #354463;
}

.contact {
    text-align: left;
    font: normal normal 300 1.1rem Helvetica;
    color: #354463;
}

.follow {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 1.1rem Helvetica;
    color: #354463;
}

.learn {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 1.1rem Helvetica;
    color: #354463;
}

.stop {
    grid-column: 2;
    grid-row: 3/4;
    text-align: right;
    font: normal normal normal 2.5rem Flood Std;
    color: #354463;
}



@media (max-width: 1024px) and (min-width: 601px) {
    * {
        width: 100%;
    }

    .the-image {
        width: 50%;
        height: auto;
        margin-left: 30%;
    }

    html {
        font-size: 16px;
    }

    .navbar {
        height: 15vh;
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .heading1 {
        font-size: 1.5rem;
    }

    .navelements {
        display: flex;
        flex-direction: column;
    }

    .donate {
        flex: 1;
    }

    .donatebutton {
        width: 30vw;
        justify-content: center;
        margin-left: 15vw;
        margin-top: 3vw;
        font-size: 20px;
    }

    .elements {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    #para1 {
        text-align: left;
        font: normal normal bold Helvetica;
    }

    #para2 {
        text-align: left;
        font: normal normal 300 Helvetica;
        font-size: 20px;
        padding-top: 10%;
    }

    .the-issue {
        transform: translateY(-65%);
        width: 20%;
        font: normal normal normal Helvetica;
        position: relative;
        left: 0%;
    }

    .the-issue-image {
        margin-right: 10vh;
    }

    .take-action {
        height: 35vh;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 2rem;
    }

    .action-div {
        width: 17%;
    }

    #hspace {
        margin-bottom: 2%;
    }

    #para {
        width: 70%;
        font-size: 20px;
        margin-bottom: 10%;
    }

    .readme {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .planting {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding-top: 5%;
        margin-top: 5%;
    }

    .planting1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 20%;
    }

    .planting2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 20%;
    }

    .plant-img {
        width: 90%;
        overflow: hidden;
        position: relative;
        left: 3%;
        grid-row: span 1;
        bottom: 40%;
    }

    .plant-img img {
        width: 100%;
        height: 100%;
    }

    .plant-text {
        justify-items: center;
        padding-left: 5%;
        padding-top: 5%;
        grid-row: span 2;
    }

    .plant-para {
        width: 80%;
        text-align: left;
        font: normal normal 300 Helvetica;
        padding-top: 6%;

    }

    .plant-head {
        font: normal normal bold 1.5rem Helvetica;
        padding-left: 10%;
    }

    .plant-head1 {
        font: normal normal bold 1.5rem Helvetica;
        padding-left: 10%;
    }

    .icon-para {
        font-size: 20px;
    }

    .plant-read {
        grid-row: auto;
        height: 4vh;
        width: 20vw;
    }

    .we-do {
        flex: 1;
        padding-top: 5%;
    }

    .do {
        height: 4vh;
        width: 20%;
        font: normal normal normal Helvetica;
        position: relative;
        left: 5%;
    }

    .do-text {
        text-align: left;
        font: normal normal bold Helvetica;
        position: relative;
        right: 5%;
        padding-top: 0%;
        padding-bottom: 4%;
    }

    .hunger {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .take {
        flex: 1;
    }

    .know {
        flex: 2;
        padding-top: 10%;
        position: relative;
        padding-bottom: 10%;
    }

    .climate-image img {
        width: 40vw;
        margin: 10%;
        margin-top: 25%;
    }

    .action-today {
        text-align: left;
        height: 5%;
        width: 80%;
        margin-left: 10%
    }

    .did-you-know {
        height: 4%;
        width: 40%;
        position: absolute;
        left: 17%;
        top: 5%;
    }

    .stories-image img {
        width: 90%;
        height: 40%;

    }

    .did-you-know {
        transform: translateY(45%);
    }

    .stories-content {
        flex: 2;
        position: absolute;
        top: 75%;
        right: 7%;
        width: 75%;
    }

    .stories-div {
        width: 17vw;
        position: absolute;
        left: 10%;
        top: 3%;
    }

    .stories {
        padding: 5%;
        margin-bottom: 50%;
    }

    .story-read-more {
        width: 30%;
        padding: 1%;
        margin-top: 5%;
        margin-left: 0%;
        margin-bottom: 0%;
    }

    .event {
        margin-top: 1%;
        padding: 7%;
    }

    .event-content1 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 10%;
        justify-content: center;
    }

    .event-content2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        direction: rtl;
        margin-top: 10%;
    }

    .event-para {
        text-align: left;
        font: normal normal normal 3rem Flood Std;
    }

    .event-text {
        width: 80%;
        margin-bottom: 5%;
    }

    .event-div1 {
        font-size: 0.7rem;
    }

    .event-image img {
        height: 80%;
        width: 100%;
    }

    .event-div-text {
        margin-left: 15%;
        margin-top: 5%;
        text-align: left;
        font: normal normal bold Helvetica;
        width: 90%;
    }

    .event-div-text1 {
        position: relative;
        top: 10%;
        right: 10%;
        text-align: left;
        font: normal normal bold Helvetica;
        width: 90%;
    }

    .event-div-para {
        margin-left: 15%;
        text-align: left;
        width: 80%;
    }

    .event-div-para1 {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: left;
        width: 100%;
    }

    .event-div1 {
        height: 3vw;
        width: 17vw;
        position: absolute;
        left: 0%;
        top: -1%;
    }

    .event-content1 .event-div1 {
        height: 3vw;
        width: 17vw;
        position: absolute;
        left: 44%;
        top: -1%;
        font: 17px;
    }

    .event-read {
        width: 50%;
        height: 100%;
        margin-left: 15%;
        margin-top: 2%;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .event-read1 {
        width: 50%;
        height: 100%;
        margin-right: 50%;
        margin-top: 2%;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .sub-text {
        font: normal normal bold Helvetica;
        width: 60%;
    }

    .subscribe-contents {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin-top: 3%;
    }

    .placeholder {
        height: 2%;
        flex: 2;
        height: 5vw;
        width: 20vw;
    }

    .sub {
        height: 5vw;
        flex: 1;
    }

    .footer {
        padding: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .title {
        font: normal normal bold Helvetica;
    }

    .contact {
        font: normal normal 300 Helvetica;
    }

    .follow {
        font: normal normal 300 Helvetica;
    }

    .learn {
        grid-column: 2/3;
        grid-row: 2/3;
        font: normal normal 300 Helvetica;
    }

    .stop {
        grid-column: 3/4;
        grid-row: 2/3;
        font: normal normal normal Flood Std;
    }
}

@media(min-width:1025px) {
    .heading1 {
        font-size: 1.875rem;
        line-height: 102%;
    }

    .navbar {
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        justify-content: space-around;
    }

    .navelements {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .elements {
        display: flex;
        justify-content: space-between;
        font-size: 1.6875rem;
        padding-top: 3%;
    }

    .donatebutton {
        width: 15vw;
        font-size: 1.25rem;
    }

    .the-issue-page {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .issue {
        flex: 1;
        order: 1;
    }

    .the-issue-image {
        flex: 1;
        order: 2;
        margin-right: 10vh;
        margin-bottom: 5vh;
    }

    #para1 {
        text-align: left;
        font: normal normal bold 2.75rem Helvetica;
    }

    #para2 {
        text-align: left;
        font: normal normal 300 1rem Helvetica;
        padding-top: 10%;
    }

    .issue {
        width: 100%;
        height: 80%;
        margin-top: 8%;
        flex: 1;
        text-align: center;
        margin: 0%;
        position: relative;
        right: 5%;
        top: 15%;
    }

    .the-image {
        height: 40vh;
        padding-top: 12%;
    }

    .the-issue {
        width: 15vh;
        position: relative;
        left: 1%;
        bottom: 15%;
        font-size: 1.25rem;
    }

    .take-action {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 1.5rem;
        padding: 5rem;
        font-size: 1.25rem;
    }

    .hspace {
        margin-bottom: 2%;
        padding-left: 10%;
        font-size: 1.5625rem;
    }

    .para {
        width: 100%;
        padding-left: 10%;
        font-size: 1.5625rem;
        margin-bottom: 0%;
    }

    #para2 {
        font-size: 1.25rem;
    }

    .action-div {
        font: normal normal normal 0.775rem/1.0625rem Helvetica;
        height: 5%;
        width: 12%;
        position: relative;
        left: 47%;
        top: 98%;
        font-size: 1.25rem;
    }

    .we-do {
        flex: 1;
        padding-top: 1%;
    }

    .do {
        height: 4vh;
        width: 13%;
        position: relative;
        left: 4%;
        margin-top: 1%;
        font-size: 1.25rem;
    }

    .do-text {
        padding: 2%;
        margin-top: 2%;
        text-align: left;
        font: normal normal bold 2.75rem/3.5rem Helvetica;
        margin-left: 2%;
    }

    .readme {
        display: flex;
        flex-direction: row;
        padding: 5%;
    }

    .planting {
        padding: 0%;
        margin-right: 5%;
    }

    .planting1 {
        padding: 0%;
        margin-top: 0%;
        margin-right: 5%;
    }

    .planting2 {
        padding: 0%;
        margin-top: 0%;
    }

    .plant-img {
        width: 90%;
        height: 25vh;
        overflow: hidden;
        position: relative;
        left: 12%;
    }

    .plant-img img {
        width: 100%;
        height: 100%;
    }

    .plant-text {
        justify-items: center;
    }

    .plant-para {
        text-align: left;
        font: normal normal 300 1rem/1.5rem Helvetica;
        opacity: 1;
        margin-top: 2%;
        margin-right: 27%;
        width: 70%;
        padding-left: 0%;
        font-size: 1.25rem;
    }

    .plant-read {
        height: 4vh;
        width: 10vw;
        font: normal normal bold 1rem/1.25rem Helvetica;
        position: relative;
        left: 11%;
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 1.25rem;
    }

    .plant-text {
        margin-left: 11%;
    }

    .plant-head1 {
        text-align: left;
        font: normal normal bold 1.75rem/2.25rem Helvetica;
        color: #354463;
        position: relative;
        left: 0%;
        padding-right: 0%;
        margin-right: 28%;
    }

    .plant-head {
        text-align: left;
        font: normal normal bold 1.75rem/2.25rem Helvetica;
        position: relative;
        color: #354463;
        left: 0%;
        padding-right: 0%;
        margin-right: 12%;
    }

    .hunger {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .take {
        flex: 1;
    }

    .know {
        flex: 1;
        padding-top: 10%;
        position: relative;
        padding-bottom: 10%;
    }

    .climate-image img {
        width: 35vw;
        margin: 10%;
        margin-top: 20%;
    }

    .icon-para {
        font-size: 1.5625rem;
    }

    .icon-head {
        font-size: 1.5625rem;
    }

    .action-today {
        height: 4%;
        width: 27%;
        margin-left: 10%;
    }

    .did-you-know {
        font: normal normal normal 0.9375rem/1.0625rem Helvetica;
        height: 4%;
        width: 30%;
        position: absolute;
        left: 16.5%;
        top: 10%;
    }

    .stories-view {
        position: absolute;
        left: 61%;
    }

    .stories-image {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        margin-bottom: 9%;
    }

    .stories-image img {
        width: 100%;
        height: 100%;
    }

    .stories-content {
        flex: 2;
        position: absolute;
        margin-top: 7%;
        right: 35%;
        width: 35%;
    }

    .stories-div {
        width: 9vw;
        position: absolute;
        left: 10%;
        top: 7%;
    }

    .read-content {
        font-size: 1.5625rem;
    }

    .read-text {
        font-size: 1.0625rem;
    }

    .stories {
        padding: 0%;
    }

    .story-read-more {
        width: 35%;
        height: 15%;
        padding: 2%;
        margin-top: 3vw;
        margin-left: 0vw;
        margin-bottom: 10%;
    }

    .blue-text {
        padding: 10%;
        width: 100%;
        height: 35%;
    }

    .event {
        margin-top: 40%;
        padding: 5%;
    }

    .event-content1 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 0%;
        margin-top: 0%;
        justify-content: center;
    }

    .event-content2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        direction: rtl;
        margin-top: 0%;
    }

    .event-para {
        text-align: left;
        font: normal normal normal 4.5rem/4.75rem Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    .event-text {
        width: 80%;
        margin-bottom: 5%;
    }

    .event-image img {
        height: 80%;
        width: 100%;
    }

    .event-div-text {
        margin-left: 15%;
        margin-top: 10%;
        text-align: left;
        font: normal normal bold 2.75rem/3.5rem Helvetica;
        width: 50%;
    }

    .event-div-text1 {
        position: relative;
        top: 10%;
        right: 50%;
        text-align: left;
        font: normal normal bold 2.75rem/3.5rem Helvetica;
        width: 50%;
    }

    .event-div-para {
        font: normal normal 300 1.25rem/2rem Helvetica;
        margin-left: 15%;
        text-align: left;
        width: 50%;
    }

    .event-div-para1 {
        font: normal normal 300 1.25rem/2rem Helvetica;
        margin-top: 10%;
        margin-bottom: 0%;
        text-align: left;
        width: 50%;
        margin-right: 50%;
    }

    .event-div1 {
        height: 3vw;
        width: 17vw;
        position: absolute;
        left: 0%;
        top: -1%;
        font: normal normal normal 0.875rem/1.0625rem Helvetica;
    }

    .event-content1 .event-div1 {
        height: 3vw;
        width: 17vw;
        position: absolute;
        left: 39%;
        top: -1%;
        font: 1rem;
    }

    .event-read {
        font: normal normal bold 1.125rem/1.375rem Helvetica;
        width: 30%;
        height: 60%;
        margin-left: 15%;
        margin-top: 0%;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .event-read1 {
        font: normal normal bold 1.125rem/1.375rem Helvetica;
        width: 30%;
        height: 60%;
        margin-right: 70%;
        margin-top: 0%;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .subscribe {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 5%;
    }

    .subscribe-text {
        flex: 1;
    }

    .subscribe-contents {
        flex: 1;
    }

    .sub-text {
        font: normal normal bold 1.375rem/1.75rem Helvetica;
        width: 80%;
        font-size: 1.5625rem;
    }

    .subscribe-contents {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin-top: 0%;
    }

    .placeholder {
        flex: 2;
        height: 2vw;
        width: 10px;
    }

    .sub {
        height: 2vw;
        width: 1%;
    }

    .footer {
        padding: 1%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 3rem;
        padding: 5%;
        height: 30%;
    }

    .stop {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .learn {
        grid-column: 3/4;
        grid-row: 1;
    }
}